11/11vergelijk/dbconnect_via_constructor_instance.php
11/11vergelijk/dbconnect_via_dependency_injection.php
11/11vergelijk/dbconnect_via_global.php
12/read_dir1.php

12/upload/Schermafbeelding 2025-09-09 091144.png
12/upload/Schermafbeelding 2025-09-09 095845_1.png
12/upload/Schermafbeelding 2025-09-09 095845.png
12/upload/Schermafbeelding 2025-09-09 101755.png
12/upload/Schermafbeelding 2026-10-02 111444.png
